<comment>@author: Jhon Adrián Cerón Guzmán [jadrian.ceron@gmail.com]</comment>
<useragent>Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/535.2 (KHTML, like Gecko) Chrome/15.0.874.106 Safari/535.2</useragent>
<testcasefile>../testcases/autenticacionUsuarios.xml</testcasefile>
<testcasefile>../testcases/gestionPersonas.xml</testcasefile>
<testcasefile>../testcases/gestionUsuarios.xml</testcasefile>
<testcasefile>../testcases/gestionPeriodos.xml</testcasefile>
<testcasefile>../testcases/gestionPerfiles.xml</testcasefile>
<testcasefile>../testcases/gestionCursos.xml</testcasefile>
<testcasefile>../testcases/gestionInscripciones.xml</testcasefile>
<globalhttplog>onfail</globalhttplog>